
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg">
       <div class="text">ROBIN</div> 
        <div class="animateddiv">
            <div class="good">
                <ul>
                <li>g</li>
                <li>o</li>
                <li>o</li>
                <li>d</li>
            </ul>
                </div>
               
                <div class="morning">
                    
                <span >m</span>
                <span>o</span>
                <span>r</span>
                <span >n</span>
                <span>i</span>
                <span >n</span>
                <span >g</span>
            
            </div>
        
        </div>
    </div>
    
</body>
</html>
